@import '../Scss/variables.scss';

body{
    background-color: $theme-color;
   
    .navbar{
        background: $theme-color;
       
        .navbar-brand{
            color: white;
        }
        .navbar-toggler-icon{
            color: white;
        }
        .navbar-nav{
            .nav-item{
                .nav-link{
                    color: white;
                    &.active{
                        color: $theme-pink;
                        border-bottom: 2px solid $theme-pink;
                    }
                    &:hover{
                        color: $theme-pink;
                    }
                }
               
            }
        }   
    }
}