$theme-color:#212529;
$theme-dark-color:#191B1D;
$white:white;
$theme-pink : #ff014f;
$theme-gray:rgba(255, 255, 255, 0.634);
$shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
$inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
$title-font-size:50px;
$subtitle-font-size:40px;
$description-font-size:19px;
$hr-color:#878e99 ;
$background-color: linear-gradient(145deg, #1e2024, #23272b);
$transition-smooth:0.3s all ease-in-out;
$hover-animation:translateY(-4px);